.task
  %h1= @task.name

  %p
    = admin_only do
      = link_to 'Редактирай', edit_task_path(@task), class: :action

    = authenticated_only do
      = link_to 'Предай решение', task_my_solution_path(@task), class: [:action, :primary]
      - if @current_user_solution
        = link_to 'Коментари към моето решение', @current_user_solution, class: [:action, :primary]

  - if admin? or @task.closed?
    %p= link_to 'Предадени решения', task_solutions_path(@task)

  %dl
    %dt Краен срок:
    %dd
      = l @task.closes_at
    %dt Точки:
    %dd
      = @task.max_points

  - if @task.closed?
    %p.closed Срокът за предаване на решения е отминал

    %div(data-toggleable data-show-text="Пълен тест, използван за оценяване" data-hide-text="Скрий теста")
      = format_code @task.test_case

  = markup @task.description, auto_link: false

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.1/styles/default.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.1/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.1/languages/rust.min.js"></script>
  <script>hljs.initHighlighting()</script>

  %p
    Задължително прочетете (или си припомнете):
    = link_to "Указания за предаване на домашни", task_guide_path

  - if @task.basic_test_case?
    %p
      Погрижете се решението ви да се компилира с базовия тест:
      %div(data-toggleable data-show-text="Базов тест" data-hide-text="Скрий теста")
        = format_code @task.basic_test_case

  - if @task.has_restrictions?
    = render 'restrictions', explainer: RubocopExplainer.new(@task.restrictions_hash)
